name: بث to OK.ru

on:
  workflow_dispatch: 

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          ffmpeg -re -i "http://familylocals.top:80/AgCeEwpdgd/cvyV6aSjQ3/22903.m3u8" \
          -c copy -f flv "rtmp://vsu.mycdn.me/input/910402145640_910402145640_71_2p5q36d3vq"
