name: Live Stream to OK.ru

on:
  workflow_dispatch: # يسمح لك بتشغيل البث يدوياً

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          ffmpeg -re -i "https://live-hls-web-aja-gcp.thehlive.com/AJA/01.m3u8" \
          -c copy -f flv "${{ secrets.rtmp://vsu.okcdn.ru/input/10822329310764_9956269689388_meguit5qlq }}"
