name: Live Stream to OK.ru

on:
  workflow_dispatch: 

jobs:
  streaming:
    runs-on: ubuntu-latest
    steps:
      - name: Install FFmpeg
        run: sudo apt-get update && sudo apt-get install -y ffmpeg

      - name: Start Streaming
        run: |
          ffmpeg -re -i "http://familylocals.top:80/AgCeEwpdgd/cvyV6aSjQ3/22903.m3u8" \
          -c copy -f flv "rtmp://vsu.okcdn.ru/input/10822329310764_9956269689388_meguit5qlq"
